<!DOCTYPE html>
<!--Esto es un comentario, Holi!!-->
<!-- 

<> = Esto es una etiqueta, se escribe entre signos de mayor y menor que
Ejm: <head> </html>

Title: Es lo que sale arriba en la pestaña
h1: Titulo de nivel 1. La letra mas grande
h2, h3, h4...: Van disnimuyendo el tamaño
p: Párrafo


-->
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header>
            <nav>
                <a href="/">TechShop</a> 
                <ul>
                    <li><a href="/ejemplo2">Mis Autos</a></li>     
                    <li><a href="/multimedia">Multimedia</a></li>     
                    <li><a href="/iframes">iFrames</a></li>     
                </ul>
            </nav>   

        </header>

        <aside>

            <h1>Mis autos</h1>
            <p>Los autos que veo todos los días</p>
        </aside>

        <section>

            <h2>Lunes</h2>
            <img src="/img/Lunes.jpg" alt=""/>
            <h2>Martes</h2>
            <img src="https://th.bing.com/th/id/OIP.LbiDFKShfnwRuXKCAGIsVgHaD4?rs=1&pid=ImgDetMain" alt=""/>


        </section>

        <footer>
            Todos los derechos reservados TechShop 2025 &COPY;
        </footer>


    </body>
</html>
