<!DOCTYPE html>
<!--Esto es un comentario, Holi!!-->
<!-- 

<> = Esto es una etiqueta, se escribe entre signos de mayor y menor que
Ejm: <head> </html>

Title: Es lo que sale arriba en la pestaña
h1: Titulo de nivel 1. La letra mas grande
h2, h3, h4...: Van disnimuyendo el tamaño
p: Párrafo
li: Listado
ul: Sin orden
footer:


-->
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
       
    </head>
    <body>
        <header>
            <nav>
                <a href="/">TechShop</a> 
                <ul>
                    <li><a href="/ejemplo2">Mis Autos</a></li>     
                    <li><a href="/multimedia">Multimedia</a></li>     
                    <li><a href="/iframes">iFrames</a></li>     
                </ul>
            </nav>   

        </header>
        <aside>
            <h1>Multimedia</h1>  
            <p>Incorporación de los archivos del curso en el sitio</p>
        </aside>
        <section>
            <h2>Uso de multimedia</h2>
            <article>
                <h2>Musica Celta</h2>
                <audio controls>
                    <source src="/audios/musica.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>               
            </article>
            <article>
                <h2>Pelicula de acción</h2>
                <video width="320" height="240" controls>
                    <source src="/videos/torpedo.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>


        </section>
        <footer>
            Todos los derechos reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>